@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:wght@400;500;600&display=swap");

.Header {
  background-color: rgb(31, 31, 31);
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Hubballi", cursive;
}

.logo {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin-left: 20px;
}

.navbar .list__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  text-align: center;

  margin-right: 25px;
}
.navbar .list__wrap .list__elements {
  list-style: none;
  margin-left: 30px;
  text-align: center;
  font-weight: 600;
}

.navbar .list__wrap .list__elements a {
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
}
